# Lab 1

### Created a Spark Session

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local") \
    .appName("Spark Lab One") \
    .getOrCreate()

In [11]:
spark

### Loaded employee table from MYSQL database into Spark

In [14]:
employees = spark.read \
  .format("jdbc") \
  .option("url","jdbc:mysql://localhost:3306/employees")\
  .option("driver","com.mysql.jdbc.Driver")\
  .option("dbtable","employees") \
  .option("user", "root") \
  .option("password","mysql123") \
  .load()



employees.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- hire_date: date (nullable = true)

### Calculate the current age of the employees 
Function Used:
* datediff: It will find the difference between the birth date and the current date.
* current_date :It will return the current date.
* floor : It will return the largest integer value.

In [19]:
#calculate current age of the employees
from pyspark.sql.functions import year,current_date, col, floor, month,datediff

employees.withColumn("emp_current_age",floor((datediff(current_date(),"birth_date"))/365))\
.show(10)
#.select("emp_no", year("birth_date"),"birth_date", "first_name") \

+------+----------+----------+---------+------+----------+---------------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|emp_current_age|
+------+----------+----------+---------+------+----------+---------------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|             66|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|             55|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|             60|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|             65|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|             65|
| 10006|1953-04-20|    Anneke|  Preusig|     F|1989-06-02|             66|
| 10007|1957-05-23|   Tzvetan|Zielinski|     F|1989-02-10|             62|
| 10008|1958-02-19|    Saniya| Kalloufi|     M|1994-09-15|             61|
| 10009|1952-04-19|    Sumant|     Peac|     F|1985-02-18|             67|
| 10010|1963-06-01| Duangkaew| Piveteau|     F|1989-08-24|             56|
+------+----------+----------+---------+------+----------+---------------+
only showing top 10 rows

### Calculate total number of years worked by employee

Function Used:
* year: It will return the year part of the date. 
* current_date: It will return the current date.
* datediff:It will find the difference between the hire date and the current date.

In [66]:
from pyspark.sql.functions import year,datediff,current_date

employees.withColumn("year worked",floor((datediff(current_date(),"hire_date"))/365)).show(10)

+------+----------+----------+---------+------+----------+-----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|year worked|
+------+----------+----------+---------+------+----------+-----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|         33|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|         34|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|         33|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|         33|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|         30|
| 10006|1953-04-20|    Anneke|  Preusig|     F|1989-06-02|         30|
| 10007|1957-05-23|   Tzvetan|Zielinski|     F|1989-02-10|         30|
| 10008|1958-02-19|    Saniya| Kalloufi|     M|1994-09-15|         25|
| 10009|1952-04-19|    Sumant|     Peac|     F|1985-02-18|         34|
| 10010|1963-06-01| Duangkaew| Piveteau|     F|1989-08-24|         30|
+------+----------+----------+---------+------+----------+-----------+
only showing top 10 rows

### Find the age of the employee when they are hired at the company

In [57]:

from pyspark.sql.functions import current_date,datediff
employees.withColumn("Age of the employee ",floor((datediff("hire_date",'birth_date'))/365)).show(10)

+------+----------+----------+---------+------+----------+--------------------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|Age of the employee |
+------+----------+----------+---------+------+----------+--------------------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|                  32|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|                  21|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|                  26|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|                  32|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|                  34|
| 10006|1953-04-20|    Anneke|  Preusig|     F|1989-06-02|                  36|
| 10007|1957-05-23|   Tzvetan|Zielinski|     F|1989-02-10|                  31|
| 10008|1958-02-19|    Saniya| Kalloufi|     M|1994-09-15|                  36|
| 10009|1952-04-19|    Sumant|     Peac|     F|1985-02-18|                  32|
| 10010|1963-06-01| Duangkaew| Piveteau|     F|1989-08-24|                  26|
+------+----------+----------+---------+------+----------+--------------------+
only showing top 10 rows

## Show employee birth year
* Here we are showing just the employee birth year

In [67]:

from pyspark.sql.functions import year
employees.select(year("birth_date").alias('birth_year')).show(20)

+----------+
|birth_year|
+----------+
|      1953|
|      1964|
|      1959|
|      1954|
|      1955|
|      1953|
|      1957|
|      1958|
|      1952|
|      1963|
|      1953|
|      1960|
|      1963|
|      1956|
|      1959|
|      1961|
|      1958|
|      1954|
|      1953|
|      1952|
+----------+
only showing top 20 rows

* Here we are showing employee birth year along with the other columns by selecting the withColumn function.

In [68]:
from pyspark.sql.functions import year

employees.withColumn("birth_year",year("birth_date")).show(10)

+------+----------+----------+---------+------+----------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|birth_year|
+------+----------+----------+---------+------+----------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|      1953|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|      1964|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|      1959|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|      1954|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|      1955|
| 10006|1953-04-20|    Anneke|  Preusig|     F|1989-06-02|      1953|
| 10007|1957-05-23|   Tzvetan|Zielinski|     F|1989-02-10|      1957|
| 10008|1958-02-19|    Saniya| Kalloufi|     M|1994-09-15|      1958|
| 10009|1952-04-19|    Sumant|     Peac|     F|1985-02-18|      1952|
| 10010|1963-06-01| Duangkaew| Piveteau|     F|1989-08-24|      1963|
+------+----------+----------+---------+------+----------+----------+
only showing top 10 rows

### Create employee abbreviated name that contains 2 first character from last name and all character from first in lower case.

* Function Used:
* Substring:Extract the substring from a string.
* concat:It will add two strings.

In [59]:

from pyspark.sql.functions import substring,col,expr,concat
employees.select("first_name", "last_name",\
          expr("lower(concat(substring(last_name, 0, 2), substring(first_name, 0, length(first_name))))as abbreviated_name")\
          ).show(10)

+----------+---------+----------------+
|first_name|last_name|abbreviated_name|
+----------+---------+----------------+
|    Georgi|  Facello|        fageorgi|
|   Bezalel|   Simmel|       sibezalel|
|     Parto|  Bamford|         baparto|
| Chirstian|  Koblick|     kochirstian|
|   Kyoichi| Maliniak|       makyoichi|
|    Anneke|  Preusig|        pranneke|
|   Tzvetan|Zielinski|       zitzvetan|
|    Saniya| Kalloufi|        kasaniya|
|    Sumant|     Peac|        pesumant|
| Duangkaew| Piveteau|     piduangkaew|
+----------+---------+----------------+
only showing top 10 rows

* Displaying just the abbreviated name.

In [65]:
from pyspark.sql.functions import substring,col,concat

employees.selectExpr("lower(concat(substring(last_name, 0, 2), substring(first_name, 0, length(first_name))))as abbreviated_name") \
          .show(10)

+----------------+
|abbreviated_name|
+----------------+
|        fageorgi|
|       sibezalel|
|         baparto|
|     kochirstian|
|       makyoichi|
|        pranneke|
|       zitzvetan|
|        kasaniya|
|        pesumant|
|     piduangkaew|
+----------------+
only showing top 10 rows

In [34]:
#emp_no
employees.select(col("emp_no")).show(10)

+------+
|emp_no|
+------+
| 10001|
| 10002|
| 10003|
| 10004|
| 10005|
| 10006|
| 10007|
| 10008|
| 10009|
| 10010|
+------+
only showing top 10 rows

### Reverse employee number.

In [35]:
#Reverse employee number.
from pyspark.sql.functions import reverse
employees.select(reverse("emp_no").alias('reverse_emp_no')).show(10)

+--------------+
|reverse_emp_no|
+--------------+
|         10001|
|         20001|
|         30001|
|         40001|
|         50001|
|         60001|
|         70001|
|         80001|
|         90001|
|         01001|
+--------------+
only showing top 10 rows